[submodule "libft"]
    path = libft
    url = git@github.com:Ticafblanc/libft.git

[submodule "Matthis"]
    path = minishell/Matthis
    url = git@github.com:Ticafblanc/minishell.git

[submodule "Siham"]
    path = minishell/Siham
    url = git@github.com:Ticafblanc/Siham.git